html {
  background: url(images/background.jpg) no-repeat fixed center;
  background-size: cover;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 55px auto;
  width: 600px;
  padding-top: 20px;
  text-align: center;
  color: white;
  border: 2px solid purple;
  border-radius: 3%;
}
.sns {
  width: 50px;
  padding: 0px 5px;
}
#fake-logo {
  width: 400px;
}
#area {
  background-color: purple;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}
hr {
  width: 300px;
}
button {
  background-color: green;
  color: white;
  width: 100px;
  height: 35px;
  font-size: 20px;
  border: 2px solid;
  border-color: white rgb(110, 105, 105) rgb(110, 105, 105) white;
}
#pw {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  color: white;
  text-decoration: none;
}
#pw:hover {
  color: yellow;
  text-decoration: underline;
  transition: all 1s;
}
